<?xml version="1.0"?>
<model>
  <name>aspa135_mini3_thermal_overlay</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Juan Sandino</name>
    <email>j.sandino@qut.edu.au</email>
  </author>

  <description>
    Thermal overlay for ASPA135 Mini3 terrain. Invisible plane with thermal signature for thermal camera simulation.
  </description>
</model> 