<?xml version="1.0" ?>

<model>
  <name>aspa135_mini3</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Juan Sandino</name>
    <email>j.sandino@qut.edu.au</email>
  </author>
  <author>
    <name>Daniel Brown</name>
  </author>

  <description>
    ASPA 135 modelling from a mapping campaign using a DJI Mini 3 @ 10 m AGL.
  </description>
</model>